
{% extends "base.html" %}  <!--  con esta instruccion insertamos la plantilla base.html -->

{% load static %} <!--  cargamos todo lo que tengamos en la carpeta static -->

{% block content %} <!--  etiq de apertura de los contenido exclusivos del home -->

<!-- CONTENIDO EXCLUSIVO DE CONTACTO -->

<div class="contenedorFormulario">

    <div class="container"></div>
    <p class="lead text-white fs-3 "> Envíanos tu consulta... </p>
    <hr style= " border-color: white" >
    <br><br>


    <form action ="" method="POST"  style="text-align: center;">
        {% csrf_token %}   
        <table style ="color: white;"> {{miFormulario.as_table}} </table>
        <input class="btn btn-light" type = "submit" value ="Enviar" style="width:200px; margin-right:160px; margin-top:20px">

    </form>

</div>

    <!-- Message -->
    <section class="page-section cta">
        <div class="container">
            <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Información de contacto</span>
                </h2>
                <span style="text-align: left">
                        <p style="line-height: 0.6em;">DIRECCION:  Calle Melancolía, 7  CP: 10003  (Madrid)</p>
                        <p style="line-height: 0.6em;">TLF:        643 102 2515</p>
                        <P style="line-height: 0.6em;">EMAIL:      video-shop@gmail.com</P>
                </span>
            </div>
            </div>
        </div>
        </section>
    
<!--  FIN DEL CONTENIDO EXCLUSIVO DE CONTACTO -->

{% endblock %}