<html>

<head>
  {% load static %}


    <!-- Bootstrap -->
    <link href=" {% static 'proyectoWebApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Fonts -->
  
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    

    <!-- Styles -->
    <link href="{% static 'proyectoWebApp/css/gestion.css' %}" rel="stylesheet">
</head>

<body>

    <div class="site-heading text-center d-lg-block" style="margin-bottom: 20px;"> <!-- este div es el titulo -->
        <img class="intro-img img-fluid  mb-lg-0 rounded" src="{% static 'proyectoWebApp/img/kiosko.png' %}" alt="" style="height: 20%">
        <img class="intro-img img-fluid  mb-lg-0 rounded" src="{% static 'proyectoWebApp/img/tituloPrincipal.png' %}" alt="">
        <img class="intro-img img-fluid  mb-lg-0 rounded" src="{% static 'proyectoWebApp/img/cineTickets.png' %}" alt="" style="height: 20%">
    </div>
    
    
<!-- Barra de navegacion  -->
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'Home' %}">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item {% if request.path == '/' %} active {% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Home' %}">Inicio</a>
          </li>
          <li class="nav-item px-lg-4 {% if request.path == '/servicios/' %} active {% endif %}">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Servicios' %}">Servicios</a>
          </li>
          <li class="nav-item px-lg-4 {% if request.path == '/blog/' %} active {% endif %}">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Blog' %}">Blog</a>
          </li>
          <li class="nav-item px-lg-4 {% if request.path == '/shop/' %} active {% endif %}">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Shop' %}">Shop</a>
          </li>
          <li class="nav-item px-lg-4 {% if request.path == '/contacto/' %} active {% endif %}">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Contacto' %}">Contacto</a>
          </li>
          <li style="width: 2cm"> </li> <!-- añado un espacio  -->
          <li >
            <div style="color:white">  

              {% if user.is_authenticated %} <!-- SI EL USUARIO NO ESTA LOGEADO -->
                <!-- le pongo una imagen  -->
                <div style="display: inline;"><img class="intro-img img-fluid  mb-lg-0 rounded" src="{% static 'proyectoWebApp/img/simbaSinFondo.png' %}" alt="" style="height:1cm; width: auto"></div>
                <!-- Le pongo el nombre de la persona -->
                Hola  {{user.username}}  &nbsp  &nbsp   
                <!-- le añado el boton "cerrar sesion" -->                                                                                                                
                <a href="#"><span class =" text-light btn btn-outline-success">Cerrar Sesion</span></a>      

              {%else%} <!-- SI EL USUARIO NO ESTA LOGEADO -->
                <!-- le añado el boton Iniciar Sesion -->
                <a href="#"><span class =" text-light btn btn-outline-info">Iniciar Sesion </span></a> &nbsp
                <!-- Le añado el boton registrase -->
                <a href="{% url 'FormularioRegistro' %}"><span class =" text-light btn btn-outline-success">Registrarse</span></a>
              {% endif %}

            </div>
          </li>


        </ul>
      </div>
    </div>
</nav>


<!--  CONTEINDO EXCLUSIVO -->
{% block content %}

{% endblock %}


    <!-- Footer -->
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0">
        <a href="#" class="link">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="#" class="link">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="#" class="link">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
          </span>
        </a>
    </p>
      <p class="m-0 mbt">
        <a  >Política de privacidad</a> ·
        <a  >Aviso legal</a> ·
        <a  >Cookies</a>
		</p>
        <p class="m-0 mbt1">&copy; Gestión de Pedidos 2023</p>
      </div>
	</footer>

    <!-- Bootstrap -->
    <script src="{% static 'proyectoWebApp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'proyectoWebApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>


</html>