
{% extends "base.html" %}  <!--  con esta instruccion insertamos la plantilla base.html -->

{% load static %} <!--  cargamos todo lo que tengamos en la carpeta static -->

{% block content %} <!--  etiq de apertura de los contenido exclusivos del home -->

<!-- CONTENIDO EXCLUSIVO DE SHOP -->

<div class="container-fluid mr-5  mt-5 text-light">

    <div class="container"></div>
    <h2> BLOG </h2>
    <p class="lead"> Desconecta y sumérgete en la lectura de los siguientes artículos...</p>
    <hr style= " border-color: white" >

    {% for i in lista_posts %}

<!-- <section class="page-section clearfix">
<div class="container">
    <div class="intro">
    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{ i.imagen.url }}" alt="" style= " width : 50%" >
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4" >
            <span class="section-heading-lower">{{ i.titulo }}</span>
            <span class="section-heading-upper"> {{ i.contenido }}</span>
            </h2>
            <div style=" text-align : left; font-size: 0.8 em;"> 
                Autor: {{ i.autor }} <br>

                {% for j in  i.categorias.all %}
                Categoria: {{j.nombre}}
                {% endfor %}
            </div>

        </div>
    </div>
</div>
</section> -->


<!--  PRUEBA -->

        <div class="row mb-5" >
            <!--  articulos  -->
            <div class="col-4 float-end" >
                <img   class = "img-fluid" src="{{ i.imagen.url }}" alt="">
                <p class = "lead text-center " style=" font-size: 80%"> fecha creación: {{ i.created }} </p>
            </div>

            <div class="col-8">
                <div >
                    <!-- el titulo -->
                    <h4 class="text-warning" style="font-weight:800"> {{ i.titulo }} </h4>               
                    <!-- la categoría, a la cual se accede con otro bucle for -->
                    {% for j in  i.categorias.all %}
                    <a href=""><span class ="badge badge-warning"> {{ j.nombre }}</span></a>
                    {% endfor %}
                </div>
                <!-- el contenido -->
                <hr>
                <div style="background-color:rgb(221, 207, 190)" class ="p-3">
                    <p><span class="section-heading-upper text-dark"> {{ i.contenido }}</span></p>
                    <!-- añado el boton mas al contenido -->
                        
                </div>


                
            </div>
        </div>
    {% endfor %}
</div>



    <!--  LO QUE QUIERO AHORA ES PONER TODAS LAS CATEGORIAS ABAJO DE FORMA QUE CUANDO EL USUARIO PULSE, SALGAN TODOS LOS POST  DE ESA CATEGORIA. -->
    <section>
    <div style="width: 75%; margin:auto; text-align:center; color: white; font-weight: 700">
        filtrar por categorias: &nbsp;&nbsp;
        {% for i in lista_posts %}    <!-- Este primer bucle for recorro los atributos del queryset de post -->

            {% for j in i.categorias.all %} <!-- Con este segundo bucle recorro el queryset de categorias. post.categorias.all es un queryset con todas las categorias. Tengo que recorrerlo -->
            {{ j.nombre }} &nbsp;&nbsp;
            {% endfor %}

        {% endfor %}

    </div>
    </section>

    
<!--  FIN DEL CONTENIDO EXCLUSIVO DE SHOP -->

{% endblock %}