
<!-- para la creación del carro, se ha usado la etq <table> de boostrap, la cual, esta formada por "thread", "tbody", "tfoot", donde se pueden añadir elementos -->
    {% load static %}
    
<table class="table table-bordered" style="color:white">

    <thead>
        <img class="intro-img img-fluid  mb-lg-0 rounded" src="{% static 'proyectoWebApp/img/carroCompra.png' %}" alt="" style="height: 18%; margin-left: 70px">
        <tr>
            <th>PRODUCTO</th>
            <th>CANT.</th>
            <th>SUMA</th>

        </tr>
    </thead>
    <tbody>
        {% if request.session.carro.items %} <!-- se comprueba que la sesión carro tiene productos. -->
            {% for key,value in request.session.carro.items %} <!-- Si tiene productos se itera sobre ellos mostrando el nombre y la cantidad. -->
            <tr>
                <td  class="text-center"> {{ value.nombre }}</td>
                <td class="text-center"> {{ value.cantidad }}<br>
                    <!-- ademas del nombre y la cantidad, se muestran 3 botones -->
                    <a href=" {% url 'Carro:Agregar'  value.producto_id %}"  class="btn btn-sm btn-warning" >+</a>    <!--  Suma una unidad -->
                    <a href=" {% url 'Carro:Restar'   value.producto_id %}"   class="btn btn-sm btn-warning">-</a>     <!--  Resta una unidad -->
                    <a href=" {% url 'Carro:Eliminar' value.producto_id %}" class="btn btn-sm btn-danger">x</a> <br> <!-- Elimina el producto del carro -->
                </td>
                <td> 
                    {{value.precio}}€
                </td>

            </tr>
            {% endfor %}

        {%else%} <!-- Si no tiene productos -->
            <tr>
                <td colspan="3">
                    <div class="alert btn-warning text-center"> sin productos  </div>
                    
                </td>

            </tr>

        {% endif %}
    </tbody>

    <tfoot>
        <td colspan="3" class="text-center" > Importe Carro: {{ importe_total }}€ &nbsp;&nbsp;
            <!-- ahora le ponemos un boton para vaciar el carro. Le decimos que aparezca SOLO cuando haya productos. -->
            {% if request.session.carro.items %} <!-- aqui le digo que cuando haya productos -->
                <a href=" {% url 'Carro:Limpiar' %}"  class="btn btn-sm btn-danger" >vaciar carro </a>
            {% endif %}
            
        </td>
    </tfoot>

</table>