
<!-- para la creación del carro, se ha usado la etq <table> de boostrap, la cual, esta formada por "thread", "tbody", "tfoot", donde se pueden añadir elementos -->

<table class="table table-bordered" style="color:white">

    <thead>
        <tr> 
            <th colspan="3" class="text-center">carro compras</th>
            
        </tr>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Suma</th>

        </tr>
    </thead>
    <tbody>
        {% if request.session.carro.items %} <!-- se comprueba que la sesión carro tiene productos. -->
            {% for key,value in request.session.carro.items %} <!-- Si tiene productos se itera sobre ellos mostrando el nombre y la cantidad. -->
            <tr class="text-left">
                <td> {{ value.nombre }}</td>
                <td> {{ value.cantidad }}</td>
                <td> <!-- ademas del nombre y la cantidad, se muestra una etq ancla pra sumar o restarlos -->
                    <a href=" {% url 'Carro:Agregar' value.producto_id %}" class="btn btn-sm btn-success">+</a>
                    <a href=" {% url 'Carro:Restar' value.producto_id %}" class="btn btn-sm btn-success">-</a><br>
                    {{value.precio}}€

                </td>

            </tr>
            {% endfor %}

        {%else%} <!-- Si no tiene productos -->
            <tr>
                <td colspan="3">
                    <div class="alert alert-danger text-center"> sin productos </div>
                </td>

            </tr>

        {% endif %}
    </tbody>

    <tfoot>
        <td colspan="3" class="text-center" > Importe Carro: {{ importe_total }}€ </td>
    </tfoot>

</table>