
{% extends "base.html" %}  <!--  con esta instruccion insertamos la plantilla base.html -->

{% load static %} <!--  cargamos todo lo que tengamos en la carpeta static -->

{% block content %} <!--  etiq de apertura de los contenido exclusivos del home -->

<!-- CONTENIDO EXCLUSIVO DE SERVICIOS -->

<div class="container-fluid mr-5  mt-5 text-light">
    <div class="container"></div>
    <p class="lead"> Bienvenid@ al apartado Servicios! </p>
    <p>Si eres realmente un cinéfilo y no quieres perderte nada, esta sección es para ti. Aqui encontrarás nuestras mejores ofertas y descuentos de nuestra tienda.</p>
    <hr style= " border-color: white" >
</div>



{% for i in lista_servicios %}

<section class="page-section clearfix">
<div class="container">
    <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{ i.imagen.url }}" alt="" style= " width : 45%" >
        <div class="intro-text left-0 text-center bg-faded p-2 rounded">
            <h2 class="section-heading mb-4" ><span class="section-heading-upper">{{ i.titulo }}</span></h2>
            <p> <span class="section-heading-lower"> {{ i.contenido }}</span>    </p>       
        </div>
    </div>
</div>
</section>


{% endfor %}

    <!-- Message -->
<section class="page-section cta">
    <div class="container">
        <div class="row">
        <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Mas informacion</span>
            </h2>
            <p class="mb-0"> Para obtener mas información o contratar uno de nuestros planes , contacte con nosotros en la pestaña CONTACTO. Estaremos encantados de ayudarle!.</p>

            </div>
        </div>
        </div>
    </div>
    </section>
    
<!--  FIN DEL CONTENIDO EXCLUSIVO DE SERVICIOS -->

{% endblock %}