
{% extends "base.html" %}  <!--  con esta instruccion insertamos la plantilla base.html -->

{% load static %} <!--  cargamos todo lo que tengamos en la carpeta static -->

{% block content %} <!--  etiq de apertura de los contenido exclusivos del home -->

<!-- CONTENIDO EXCLUSIVO DE SHOP -->

<!-- le introducimos una etq style. esto es puede ahcer tambien en la hoja de estilos externa gestion.css -->
<style> 
    #tarjetaShop:hover {scale: 1.12; transition: all 0.3s}
</style>

<div class="container">

    <div class="row">

        {% for i in lista_productos %}
        <div class="col-md-3" > <!-- le ponemos un ancho de 3 para que quepan 4 imagenes -->
            <div class="card " style="margin: 15px 15px" id="tarjetaShop">
                <img src="{{ i.imagen.url }}" class="card-img-top">
                <!-- cargo un card-body para meterle el texto a la tarjeta card -->
                <div class="card-body">

                    <h6 class="card-title text-center"> {{i.nombre}} </h6>
                    <p class="card-text text-center" >   {{i.precio}}€</p>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div> 
    
<!--  FIN DEL CONTENIDO EXCLUSIVO DE SHOP -->

{% endblock %}