
{% extends "base.html" %}  <!--  con esta instruccion insertamos la plantilla base.html -->

{% load static %} <!--  cargamos todo lo que tengamos en la carpeta static -->

{% block content %} <!--  etiq de apertura de los contenido exclusivos del home -->

<!-- CONTENIDO EXCLUSIVO DE CONTACTO -->

<style>
    .helptext{display: none;}
</style>

<div class="contenedorFormulario">

    <br>
    <p class="lead text-white fs-3 "> Formulario de login </p>
    <hr style= " border-color: white" ><br>

    
    <form action ="{% url 'Login' %}" method="POST"  style="text-align: center;">
        {% csrf_token %}   
        <table style ="color: white;"> {{form}} </table>
        <input class="btn btn-success " type = "submit" value ="Enviar" style="width:200px; margin-right:330px; margin-top:20px">
    </form>

</div><br><br>


<!--  FIN DEL CONTENIDO EXCLUSIVO DE CONTACTO -->

{% endblock %}