{% extends "base.html" %}  <!--  con esta instruccion insertamos la plantilla base.html -->

{% load static %} <!--  cargamos todo lo que tengamos en la carpeta static -->

{% block content %} <!--  etiq de apertura de los contenido exclusivos del home -->

<!-- CONTENIDO EXCLUSIVO DE CONTACTO -->
<section class="page-section clearfix">
<div class="container">
    <div class="intro" >
    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'proyectoWebApp/img/BeverlyCop.jpg' %}" alt="" style="width: 60%">
    <div class="intro-text left-0 text-center bg-faded p-5 rounded" >
        <h2 class="section-heading mb-4"  >
        <span class="section-heading-upper">TE HAS REGISTRADO CORRECTAMENTE!</span>
        </h2>
        <p class="mb-3">  Inicia Sesion para disfrutar al máximo de nuestra web.... </p>
        <a href="{% url 'Login' %}" class="btn btn-warning btn-lg mt-3" >Iniciar Sesion</a> 
        
    </div>
    </div>
</div>
</section><br><br>

    
<!--  FIN DEL CONTENIDO EXCLUSIVO DE CONTACTO -->

{% endblock %}