
{% extends "proyectoWebApp/base.html" %}  <!--  con esta instruccion insertamos la plantilla base.html -->

{% load static %} <!--  cargamos todo lo que tengamos en la carpeta static -->

{% block content %} <!--  etiq de apertura de los contenido exclusivos del home -->

<!-- CONTENIDO EXCLUSIVO DE SERVICIOS -->

{% for i in lista_servicios %}

<section class="page-section clearfix">
<div class="container">
    <div class="intro">
    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{ i.imagen.url }}" alt="" style= " width : 70%" >
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h1 class="section-heading mb-4" >
            <span class="section-heading-UPPER font-weight-bold">{{ i.titulo }}</span>
            </h1>
            <p class="mb-3"> {{ i.contenido }}     </p>
        
        </div>
    </div>
</div>
</section>


{% endfor %}

    <!-- Message -->
<section class="page-section cta">
    <div class="container">
        <div class="row">
        <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Mas informacion</span>
            </h2>
            <p class="mb-0"> Para obtener mas información o contratar uno de nuestros planes , contacte con nosotros en la pestaña CONTACTO. Estaremos encantados de ayudarle!.</p>

            </div>
        </div>
        </div>
    </div>
    </section>
    
<!--  FIN DEL CONTENIDO EXCLUSIVO DE SERVICIOS -->

{% endblock %}