
{% extends "base.html" %}  <!--  con esta instruccion insertamos la plantilla base.html -->

{% load static %} <!--  cargamos todo lo que tengamos en la carpeta static -->

{% block content %} <!--  etiq de apertura de los contenido exclusivos del home -->

<!-- CONTENIDO EXCLUSIVO DE SHOP -->

<div class="container  mt-5 text-light">

    <p class="lead"> Bienvenid@ a nuestro Blog! </p>
    <p>Un espacio para desconectar y disfrutar de la lectura de artículos superintersantes relacionado con el mundo del cine.</p>
    <hr style= " border-color: white" >

    <!--  FILTRAR POR CATEGORIAS:  aparecen todas las categorías en la parte superior de la pantalla para filtrar -->
    <p style="display: inline;"> Filtrar por categorias:</p>

    {% for c in lista_categorias %}   
        <a href="{% url 'FiltroCategoria' c.nombre %}"><span class ="badge badge-warning"> {{ c.nombre }}</span></a>
    {% endfor %}
    <hr><hr>
    <!--  FIN FILTRO POR CATEGORIAS -->
    

    {% for i in lista_posts %}

            <div class="row mb-5" >
            <!--  articulos  -->
            <div class="col-4 float-end" >
                <img   class = "img-fluid" src="{{ i.imagen.url }}" alt="">
                <div class = "lead text-left " style=" font-size: 80%">
                    <p > Fecha de creación: {{ i.created }} </p>
                    <p style="line-height: 0.6em;"> Autor: {{ i.autor }} </p>
                </div>
            </div>

            <div class="col-8">
                <div >
                    <!-- el titulo -->
                    <h4 class="text-warning" style="font-weight:800"> {{ i.titulo }} </h4>               
                    <!-- la categoría, a la cual se accede con otro bucle for -->
                    {% for j in  i.categorias.all %}
                    <a href="{% url 'FiltroCategoria' j.nombre %}"><span class ="badge badge-warning"> {{ j.nombre }}</span></a>
                    {% endfor %}
                </div>
                <!-- el contenido -->
                <hr>
                <div style="background-color:rgb(221, 207, 190)" class ="p-3">
                    <p><span class="section-heading-upper text-dark"> {{ i.contenido }}</span></p>
                    <!-- añado el boton mas al contenido -->
                        
                </div>
                <hr>
 
            </div>
        </div>
    {% endfor %}
</div>

    <!-- mensaje final de la sección de servicios. -->
    <section class="page-section cta">
        <div class="container">
            <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Mas informacion</span>
                </h2>
                <p class="mb-0"> Te gustaría poder redactar y publicar tus propios artículos en esta sección. Regístrate en la página y contacta con nosotros!</p>

                </div>
            </div>
            </div>
        </div>
    </section>
        <!-- fin del mensaje -->

    
<!--  FIN DEL CONTENIDO EXCLUSIVO DE SHOP -->

{% endblock %}