
{% extends "base.html" %}  <!--  con esta instruccion insertamos la plantilla base.html -->

{% load static %} <!--  cargamos todo lo que tengamos en la carpeta static -->

{% block content %} <!--  etiq de apertura de los contenido exclusivos del home -->

<!-- CONTENIDO EXCLUSIVO DE SHOP -->

<div class="container  mt-5 text-light">


    <!--  mensaje que advierte al usuario que está viendo los post de la categoria seleccionada. Esto es opcional, es para darle mayor profesionalidad a la pagina. -->
        <p style="display:inline">Estas en la categoria:</p>
        <p style="font-size: 1.5em; display:inline">{{ob_categoria.nombre}}</p> &nbsp;&nbsp; 
        <p style="display:inline">Para ver todas, haz click sobre la prestaña SHOP.</p>
        <hr style= " border-color: white" >
    <!--  find del mensaje -->

    {% for i in lista_posts_filtrados %}

        <div class="row mb-5" >
            <!--  articulos  -->
            <div class="col-4 float-end" >
                <img   class = "img-fluid" src="{{ i.imagen.url }}" alt="">
                <p class = "lead text-left " style=" font-size: 80%"> fecha creación: {{ i.created }} </p>
            </div>

            <div class="col-8">
                <div >
                    <!-- el titulo -->
                    <h4 class="text-warning" style="font-weight:800"> {{ i.titulo }} </h4>               
                    <!-- la categoría, a la cual se accede con otro bucle for -->
                    {% for j in  i.categorias.all %}
                        <a href="{% url 'FiltroCategoria' j.nombre %}"><span class ="badge badge-pill badge-warning" > {{ j.nombre }}</span></a>
                    {% endfor %}
                </div>
                <!-- el contenido -->
                <hr>
                <div style="background-color:rgb(221, 207, 190)" class ="p-3">
                    <p><span class="section-heading-upper text-dark"> {{ i.contenido }}</span></p>
                    <!-- añado el boton mas al contenido -->
                        
                </div>
                <hr>
 
            </div>
        </div>
    {% endfor %}
</div>

    <!-- mensaje final de la sección de servicios. -->
    <section class="page-section cta">
        <div class="container">
            <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Mas informacion</span>
                </h2>
                <p class="mb-0"> Te gustaría poder redactar y publicar tus propios artículos en esta sección. Regístrate en la página y contacta con nosotros!</p>

                </div>
            </div>
            </div>
        </div>
    </section>
        <!-- fin del mensaje -->


    
<!--  FIN DEL CONTENIDO EXCLUSIVO DE SHOP -->

{% endblock %}