
{% extends "proyectoWebApp/base.html" %}  <!--  con esta instruccion insertamos la plantilla base.html -->

{% load static %} <!--  cargamos todo lo que tengamos en la carpeta static -->

{% block content %} <!--  etiq de apertura de los contenido exclusivos del home -->

<!-- CONTENIDO EXCLUSIVO DE HOME -->

  <!-- Heading -->
  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'proyectoWebApp/img/principal.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Para los amantes de lo retro</span>
            <span class="section-heading-lower">El mejor stock</span>
          </h2>
          <p class="mb-3"> Echas de menos los videoclub antiguos y te gustaría volver a disfrutarlos de nuevo? Bienvenido a los años 90. Aqui encontrarás merchandising, peliculas, y mucho  mas...
          </p>
         
        </div>
      </div>
    </div>
  </section>

    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Garantizado</span>
              </h2>
              <p class="mb-0">Gracias a nuestra nueva web, podrás disfrutar de lo retro desde el salón de tu casa. Echa un ojo a nuestra web, diviértete y adquiere los que mas te guste. Además de la tienda, puedes entretenerte leyendo nuestro blog o puedes acceder a increible descuentos en plataformas como netflix, HBO, Disney, ... accediendo a la pestaña servicios. NO TE PIERDAS NADA!</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
<!--  FIN DEL CONTENIDO EXCLUSIVO DE HOME -->

{% endblock %}